@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#main {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  padding: 30px;
  text-align: center;
}

input {
  width: 92%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  border-color: #1abc9c;
  outline: none;
}

#desenvolpment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

input[type="radio"] {
  margin-right: 5px;
}

label {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  background-color: #1abc9c;
  color: #fff;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.4s ease;
}

button:hover {
  background-color: #16987e;
}
